<h1><%= link_to "#{@user.name}", "#{@user_infos["link"]}"  %></h1>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">FACEBOOK BASIC INFO</h3>
  </div>
  <div class="panel-body">
    * 아래의 정보는 페이스북 로그인 연동 과정에서 사용자의 동의를 얻어 가져온 정보입니다.<br />
    * 본 서비스는 로그인에 필요한 최소한의 정보 이외의 어떠한 정보도 필요로 하지 않습니다.<br /><br />
    <ul>
      <li>provider : <strong><%= @user.provider %></strong></li>
      <li>uid : <strong><%= @user.uid %></strong></li>
      <li>name : <strong><%= @user.name %></strong></li>
      <li>oauth_token : <strong>N/A ( requires admin permission )</strong></li>
      <li>oauth_expires_at : <strong><%= @user.oauth_expires_at %></strong></li>
    </ul>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">FACEBOOK GRAPH INFO</h3>
  </div>
  <div class="panel-body">
    * 아래의 정보는 uid를 이용하여 Facebook Graph Information을 통해 가져온 정보입니다.<br />
    * <%= link_to "Facebook Graph Information ( #{@user.name} )", "http://graph.facebook.com/#{@user.uid}" %> 를 파싱해서 출력한 결과입니다.<br /><br />
    <ul>
      <li>id : <strong><%= @user_infos["id"] %></strong></li>
      <li>name : <strong><%= @user_infos["name"] %></strong></li>
      <li>first_name : <strong><%= @user_infos["first_name"] %></strong></li>
      <li>last_name : <strong><%= @user_infos["last_name"] %></strong></li>
      <li>link : <strong><%= link_to "#{@user_infos["link"]}", "#{@user_infos["link"]}"  %></strong>
      <li>gender : <strong><%= @user_infos["gender"] %></strong></li>
      <li>locale : <strong><%= @user_infos["locale"] %></strong></li>
      <li>username : <strong><%= @user_infos["username"] %></strong></li>
    </ul>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">FACEBOOK GRAPH EXTENDED INFO</h3>
  </div>
  <div class="panel-body">
    * 페이스북 프로필사진은 어떻게 파싱할 수 있을까?<br />
    * 일단은 진짜로 파싱하는 방법 / 페이스북 로그인 시에 권한을 할당받는 방법 / Graph API를 사용해서 얻어내는 방법<br />
    * 페이스북 프로필 링크 : <strong><%= link_to "#{@user.name}", "http://graph.facebook.com/#{@user_infos["id"]}/picture?type=large" %></strong> <- 지금은 그래프 링크만 찾아둠<br />
    * 자동으로 리디렉팅 되는데, 리디렉팅 되는 코드를 분석하는게 생각보단 어려운 것 같다. 어떻게 해결할 수 있을까?
    * 가장 필요한 건 이미지 링크만 파싱하는건데 이게 생각보다 복잡한걸?

  </div>
</div>

<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">추후 업데이트에서는 추가적인 개인 정보를 수집할 예정입니다.</h3>
  </div>
  <div class="panel-body">
    <ul>
    <li> 수집 대상 : <strong>email(compulsory)</strong>, <strong>phone_number(optional)</strong><br /> </li>
    <li> 수집 이유 : 이메일을 통한 알람 기능 구현 예정<br /> </li>
    <li> 수집 방식 : 페이스북 로그인 권한 추가 </li>
    </ul>
  </div>
</div>
