<% if @items.any? %>
  <% @items.each do |item|  %>
  <div class="item-box col-sm-12">
    <div class="deal-type">
      <% if item.finish == 0 %>
        <% if item.deal == 0 %>
          <%= image_tag("deal_0.png")  %>
        <% elsif item.deal == 1 %>
          <%= image_tag("deal_1.png") %>
        <% else %>
          <%= image_tag("deal_2.png") %>
        <% end %>
      <% else %>
        <%= image_tag("finish_1.png") %>
      <% end %>


    </div>

    <%= image_tag(item.main_image.url, class: "col-sm-4") %>
    <div class="col-sm-8">
      <h4 class="list-group-item-heading"><strong><%= item.title %></strong></h4>
      <p class="list-group-item-text"><%= item.description  %></p><br />
      <ul>
        <li>
        판매자 : 
        <%= link_to "#{item.user.name}", user_path(item.user.id) %> | 
        <%= link_to "#{item.user.items.count}", "/users/#{item.user.id}/items" %>
        </li>
        <li>가격 : <%= item.price %>원</li>
        <li>판매일자 : <%= item.created_at %></li>
      </ul>

      <%= link_to "자세히 알아보기", item_path(item), class: "btn btn-sm btn-primary" %>
      <% if current_user %>
        <% if item.finish == 0 %>
          <%= link_to "완료", "/items/#{item.id}/finish", class: "btn btn-sm btn-success", method: :post %>
          <%= link_to "수정", edit_item_path(item), class: "btn btn-sm btn-warning" %>
        <% end %>
        <%= link_to "삭제", item_path(item), method: :delete, class: "btn btn-sm btn-danger"%>
      <% end %>
    </div>
  </div>
  <% end %>
<% end %>
